In [ ]:
#  Q1: Variables
# We will create variables now
name = "Imam Sanghaar Chandio"  # This is the name variable
age = 17                        # This is age variable
is_student = True               # This is is_student variable
print(name , age , is_student)  # This will print the all variables

# Data Types
# We will create data type for each variable
name_type = type(name) # This will give the tyoe of name variable
print(name_type)       # This will print the vraiable of name which will be 'str' or "string"

age_type = type(age)   # This will give age_type of age variable
print(age_type)        # This will print type of age which is 'int' or "integar"

boolean_type = type(is_student) # This will give the type of boolean of is_student
print(boolean_type)             # This will print the type of is_student whhic is 'bool' or "boolean"

Imam Sanghaar Chandio 17 True
<class 'str'>
<class 'int'>
<class 'bool'>

In [ ]:
# # Q2: Arithmetic Operators
# We will do these steps:

print("Let x = 20 and y = 6") # This will print the values of x and y
# 1. Addition:
print("Addition:") # This will print the operation type
print("x + y =" , 20 + 6) # This will first add the x and y values and then print them as -> x + y = 26
# 2. Subtraction:
print("Subtraction:") # This will print the operation type
print("x - y =" , 20 - 6) # This will first subtract the x and y values and then print them as -> x - y = 14
# 3. Multiplication:
print("Multiplication:") # This will print the operation type
print("x = y =" , 20 * 6) # This will first multiply the x and y values and then print them as -> x * y = 120
# 4. Division:
print("Division:") # This will print the operation type
print("x / y =" , 20 / 6) # This will first divide the x and y values and then print them as -> x / y = 3.3333333333333335
# 6. Floor Division:
print("Floor Division:") # This will print the operation type
print("x // y =" , 20 // 6) # This will first floor divide the x and y values and then print them as -> x // y = 3
# 5. Modulus:
print("Modulus:")   # This will print the operation type
print("x % y =" , 20 % 6)   # This will first do the modulus operation of the x and y values and then print them as -> x % y = 2
# 7. Exponention:
print("Exponention:") # This will print the operation type
print("x ** y =" , 20 ** 6) # This will first perform exponention operation to the x and y values and then print them as -> x ** y = 3

Let x = 20 and y = 6
Addition:
x + y = 26
Subtraction:
x - y = 14
Multiplication:
x = y = 120
Division:
x / y = 3.3333333333333335
Floor Division:
x // y = 3
Modulus:
x % y = 2
Exponention:
x ** y = 64000000

In [ ]:
# Q3: Assignment Operators
num = 10  # This is the initial value of num which will be used throughout the process
print("Initial value:", num)

# Step 1: Add 5
num += 5
print("After += 5:", num)  # Output: 15

# Step 2: Multiply by 2
num *= 2
print("After *= 2:", num)  # Output: 30

# Step 3: Subtract 4
num -= 4
print("After -= 4:", num)  # Output: 26
# step 4: Final
print("Final Value:", num)

Initial value: 10
After += 5: 15
After *= 2: 30
After -= 4: 26
Final Value: 26

In [ ]:
# Q4: Comparison Operators
a = 15 # This is the value of a
b = 12 # This is the value of b

print( a > b) # This will tell that if the value of a is greater than b, then it will print "True" else "False" -> True
print( a < b) # This will tell that if the value of a is less than b, then it will print "True" else "False" -> False
print( a == b) # This will tell that if the value of a is equal to b, then it will print "True" else "False" -> False
print( a != b) # This will tell that if the value of a is not equal to b, then it will print "True" else "False" -> True
print( a >= b) # This will tell that if the value of a is greater than equal to b, then it will print "True" else "False" -> True
print( a <= b) # This will tell that if the value of a is less than equal to b, then it will print "True" else "False" -> False

True
False
False
True
True
False

In [ ]:
# Q5: Logical Operators
p = True
q = False
# We will check and print the result of following:
print(p and q) # The and operator returns True only if both operands are True. Since q is False, the result is False.
print(p or q) # The or operatpr return True if atleast one operand is True. Since P is True, the result is True.
print(not p) # The not operator inverts the Boolean value. Since p is True, not p becomes False.
print(not q) # Since q is False, not q becomes True

False
True
False
True

In [ ]:
# Q6: Real-Life Example
# Part 1:
X = 80
total = X * 7
print("The price of one notebook is 80 rupees so,")
print("if each notebook costs 80 rupees then:")
print("The total price of 7 notebooks will be:", (total))
print("If you have 600 rupees then, ")

# Part 2:
available = 600
affordable = available >= total

# Part 3:
if affordable:
  print("you have enough money to buy 7 notebooks")
else:
  print("you don't have enough money to buy 7 notebooks")

The price of one notebook is 80 rupees so,
if each notebook costs 80 rupees then:
The total price of 7 notebooks will be: 560
If you have 600 rupees then,
you have enough money to buy 7 notebooks

In [ ]:
# Q7: Bonus
# Take input from the user
num1 = int(input("Enter the first number: ")) # input() collects user input as a string, and int() converts it to an integer.
num2 = int(input("Enter the second number: ")) # input() collects user input as a string, and int() converts it to an integer.

# Print their sum
sum_result = num1 + num2 # The sum is calculated and printed.
print("The sum of the two numbers is:", sum_result)

# Check if the first number is greater than the second
if num1 > num2: # A comparison using > checks which number is larger and prints a clear message.
    print("The first number is greater than the second number.")
else:
    print("The first number is not greater than the second number.")

Enter the first number: 5
Enter the second number: 8
The sum of the two numbers is: 13
The first number is not greater than the second number.